div(class="footer navbar-inverse")
	div(class="container")
		ul(class="footer-nav")
			li
				a(href="../index.html") Home
			li
				a(href="../about.html") About
			li
				a(href="../contact.html") Contact

	p Phone Me: 9999 999999
	p E-mail Me: me@gmail.com
	p &copy; 2015 Something

//- Core JS
script(src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

//- If IS HOME
script(src="./js/home.js")