meta(charset="utf-8")
title Page Title
meta(name="description" content="tag, tag, taf")
meta(name="author" content="Matthew Pilcher")

//- Font Awesome
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

//- Fonts
link(href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css')
link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css')
link(href='http://fonts.googleapis.com/css?family=Raleway:700,500, 600, 400,300' rel='stylesheet' type='text/css')

//- Core CSS    
link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="../css/main.css")